body{
  font-family: 'Montserrat';
}
#title{
  background-color: #ff4c68;
  color: white;
}
.container-fluid{
  padding: 3% 15%;
}
h1{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 1.4;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
}
p{
  color: gray;
}
/* Navbar */
.navbar{
  padding: 0 0 4.4rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.4rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.2rem;
}


/* Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 20%;
  position: absolute;
  right: 18%;
  bottom: 20%;
}

/* Features secion */
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5%
}
.icons{
  color: #ef8172;
  margin: 1rem;
}
.icons:hover{
  color: #ff4c68
}


/* Testimonials section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Press  section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;

}
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 14%;
    text-align: center;
}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 1.4;
}
#footer{
  text-align: center;
  background-color: white;
  padding: 7% 14%;
}
.social-icon{
  padding: 20px 10px;
}

@media (max-width: 1084px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 40%;
  }
}
